.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.header {
  border: solid white 2px;
  background-color: rgb(86, 13, 13);

  grid-column-start: 1;
  grid-column-end: 4;
}

.main-content {
  color: white;
  background-color: rgb(86, 13, 13);
  border: solid white 2px;

  grid-column-start: 1;
  grid-column-end: 4;
}

.btn-heart {
  font-size: 30px;
  border-radius: 4px;
  border: none;
  background-color: inherit;
}

nav li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.footer {
  border: solid white 1px;
  grid-column-start: 1;
  grid-column-end: 4;
}